<agm-map style="width: 500px; height: 500px" [latitude]="data.latitude" [longitude]="data.longitude"
         [zoom]="mapZoom" [styles]="mapStyle">

  <agm-marker>
    <agm-overlay
      [latitude]="data.latitude"
      [longitude]="data.longitude">

      <div class="map_view_marker_overlay"
           style="-webkit-mask-box-image: url('../../../../../../assets/event_marker.png');"
           [ngStyle]="{'background-image': data.tagImage, 'background-color': data.severityColor + 'C0'}">
      </div>
      <img src="assets/event_marker_border.png" class="map_view_marker_overlay"
           style="position: absolute"/>

    </agm-overlay>
  </agm-marker>

</agm-map>
