<div style="min-width: 350px">

  <mat-button-toggle-group vertical name="fontStyle" aria-label="Font Style" style="width: 100%" [(value)]="order">

    <mat-button-toggle value="BY_DATE_ASCENDING">
      <div class="order_item_div">
        <mat-icon>arrow_upward</mat-icon>
        <h3 class="order_name_text">By date ascending</h3>
      </div>
    </mat-button-toggle>

    <mat-button-toggle value="BY_DATE_DESCENDING">
      <div class="order_item_div">
        <mat-icon>arrow_downward</mat-icon>
        <h3 class="order_name_text">By date descending</h3>
      </div>
    </mat-button-toggle>

    <mat-button-toggle value="BY_SEVERITY_ASCENDING">
      <div class="order_item_div">
        <mat-icon>arrow_upward</mat-icon>
        <h3 class="order_name_text">By severity ascending</h3>
      </div>
    </mat-button-toggle>

    <mat-button-toggle value="BY_SEVERITY_DESCENDING">
      <div class="order_item_div">
        <mat-icon>arrow_downward</mat-icon>
        <h3 class="order_name_text">By severity descending</h3>
      </div>
    </mat-button-toggle>

    <mat-button-toggle value="BY_DISTANCE_ASCENDING">
      <div class="order_item_div">
        <mat-icon>arrow_upward</mat-icon>
        <h3 class="order_name_text">By distance ascending</h3>
      </div>
    </mat-button-toggle>

    <mat-button-toggle value="BY_DISTANCE_DESCENDING">
      <div class="order_item_div">
        <mat-icon>arrow_downward</mat-icon>
        <h3 class="order_name_text">By distance descending</h3>
      </div>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button mat-mini-fab color="primary" style="float: right; margin-top: 15px" (click)="onValidateClicked()">
    <mat-icon>check</mat-icon>
  </button>

</div>
