<div style="position: absolute; width: 100%; height: 100%">

  <agm-map *ngIf="userLocation"
           id="map_container" style="width: 100%; height: 100%"
           (mapReady)="mapReady($event)"
           (zoomChange)="zoomChange($event)"
           [latitude]="userLocation.latitude"
           [longitude]="userLocation.longitude"
           [zoom]="zoom"
           [styles]="mapStyle">

    <agm-marker *ngIf="userLocation">
      <agm-overlay
        [latitude]="userLocation.latitude"
        [longitude]="userLocation.longitude">

        <div class="map_user_overlay"
             style="background-image: url('../../../../assets/user_marker.png')">
        </div>

      </agm-overlay>
    </agm-marker>

    <agm-marker *ngFor="let event of events;">

      <agm-overlay
        [latitude]="event.latitude"
        [longitude]="event.longitude"
        (markerClick)="onMarkerClicked(event)">

        <div class="map_marker_overlay"
             style="-webkit-mask-box-image: url('../../../../assets/event_marker.png');"
             [ngStyle]="{'background-color': event.severity.color}">
          <img [src]="getImage(event.type.imagePath)" class="map_event_type_image">
        </div>

        <img src="assets/event_marker_border.png" class="map_marker_overlay"
             style="position: absolute"/>
      </agm-overlay>

    </agm-marker>

    <agm-circle *ngIf="userLocation && events && events.length > 0"
                [latitude]="userLocation.latitude"
                [longitude]="userLocation.longitude"
                [radius]="filterRadius * 1000"
                [clickable]="false"
                [fillColor]="'#C5B1E7'"
                [strokeColor]="'#8C8C8C'"
                [strokePosition]="'OUTSIDE'"
                [strokeOpacity]="0.5"
                [strokeWeight]="2.5">
    </agm-circle>

    <agm-circle *ngIf="selectedEvent && selectedEvent.impactRadius"
                [latitude]="selectedEvent.latitude"
                [longitude]="selectedEvent.longitude"
                [radius]="selectedEvent.impactRadius * 1000"
                [fillColor]="selectedEvent.severity.color"
                [strokeColor]="'#8C8C8C'"
                [strokePosition]="'OUTSIDE'"
                [strokeOpacity]="0.5"
                [strokeWeight]="2.5">
    </agm-circle>

    <agm-info-window *ngIf="selectedEvent"
                     [latitude]="selectedEvent.latitude"
                     [longitude]="selectedEvent.longitude"
                     [disableAutoPan]="true"
                     [isOpen]="true">
      <div>
        <img [src]="selectedEventImage" class="map_event_info_image">
        <p class="map_event_info_text" style="font-size: 16px; margin-top: 10px">{{selectedEvent.type.label}}</p>
        <p class="map_event_info_text">{{selectedEvent.severity.label}}</p>
        <p class="map_event_info_text">{{selectedEvent.status.label}}</p>
        <p class="map_event_info_text">{{selectedEvent.createdAt | date: 'medium'}}</p>
        <p class="map_event_info_text">
          {{selectedEvent.distance.toString()
          .substr(0, selectedEvent.distance.toString().indexOf('.'))}} km away from your location
        </p>

        <button mat-raised-button type="button" color="primary" (click)="onEventInfoViewClicked()"
                class="map_event_info_view_button">
          View event
        </button>

        <button mat-mini-fab color="primary"
                (click)="onEventInfoCloseClicked()" class="map_event_info_close_button">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </agm-info-window>

  </agm-map>

</div>
