::ng-deep .gm-style .gm-style-iw-chr button {
  display: none !important;
}

::ng-deep .gm-style .gm-style-iw-t {
  bottom: 85px !important;
}

.map_user_overlay {
  width: 40px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 40px;
  right: 10px;
}

.map_marker_overlay {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-y: 5px;
  position: relative;
  bottom: 60px;
  right: 30px;
}

.map_event_info_div {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -70%);
  height: fit-content;
  background-color: white;
  width: 280px;
}

.map_event_info_pointer_div {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background: white;
  transform: translate(-50%, 50%) rotate(45deg);
}

.map_event_info_text {
  line-height: 12px;
  color: black;
}

.map_event_info_image {
  width: 280px;
  height: 280px;
  margin-left: 0;
  margin-right: 0;
}

.map_event_info_view_button {
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

.map_event_info_close_button {
  position: absolute;
  right: 0.5%;
  top: 0.5%;
}
