.event-details-div {
  display: flex;
  justify-content: center;
}

.event-details-avatar-mat-card {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.event-details-avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.event-details-type-mat-card {
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px;
}

.event-details-type-image {
  width: 100%;
  height: 100%;
}

.event-details-mat-card {
  text-align: start;
  width: fit-content;
  padding-bottom: 0;
}

.event-details-event-image {
  width: 35vw;
  height: 50vh;
  object-fit: cover;
}

.event-details-map-button {
  text-align: right;
}

.event-details-comments-div {
  display: flex;
  height: fit-content;
  margin-top: 25px;
}

.event-details-comments-number-mat-card {
  margin-left: 10px;
  margin-right: 10px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  background-color: #f0ecf9C0;
}

.event-details-description-div {
  margin-top: 10px;
  max-height: 60px;
  overflow-y: auto;
  word-break: break-word;
}

.event-details-footer-div {
  display: flex;
  width: 100%;
  max-width: 35vw;
}

.event-details-footer-info-div {
  margin-top: 10px;
  width: 100%;
}

.event-details-color-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.mat-list-item:hover {
  background-color: #f0ecf9C0;
}
