<div *ngIf="isDataLoaded" class="event-details-container">

  <div class="event-details-mat-card-container">
    <mat-card class="event-details-mat-card">

      <mat-card-header *ngIf="event">
        <div *ngIf="eventUserImage" class="event-details-avatar-mat-card" mat-card-avatar>
          <img [src]="eventUserImage" class="event-details-avatar-image">
        </div>
        <mat-card-title>
          {{event.user.firstName + ' ' + event.user.lastName}}
        </mat-card-title>
        <mat-card-subtitle>
          {{event.createdAt | date: 'medium'}}
        </mat-card-subtitle>
      </mat-card-header>

      <div class="event-details-event-image-container">
        <div *ngIf="eventBackgroundImage" [ngStyle]="{'background-image': eventBackgroundImage}"
             class="event-details-event-background-image">
        </div>
        <img *ngIf="eventImage" [src]="eventImage" class="event-details-event-image">
      </div>

      <div *ngIf="event" class="event-details-footer-div">
        <mat-card-header class="event-details-footer-info-div">
          <div *ngIf="event" class="event-details-type-mat-card" mat-card-avatar
               [ngStyle]="{'background-color': event.severity.color}">
            <img [src]="getImage(event.type.imagePath)" class="event-details-type-image">
          </div>
          <mat-card-title>
            {{event.type.label}}
          </mat-card-title>
          <mat-card-subtitle>
            <div>
              <div class="event-details-color-circle" [ngStyle]="{'background-color': event.severity.color}"></div>
              {{event.severity.label}}
            </div>
            <div>
              <div class="event-details-color-circle" [ngStyle]="{'background-color': event.status.color}"></div>
              {{event.status.label}}: {{event.status.description}}
            </div>
            <div *ngIf="event.impactRadius">
              {{event.impactRadius}} km impact radius
            </div>
            <div *ngIf="eventAddress" style="margin-top: 10px;">
              {{eventAddress}}
            </div>
            <div *ngIf="event.description" class="event-details-description-div">
              {{event.description}}
            </div>
          </mat-card-subtitle>
        </mat-card-header>

        <button mat-icon-button class="event-details-map-button" (click)="onMapViewClicked()">
          <mat-icon>map</mat-icon>
        </button>
      </div>

    </mat-card>

  </div>

  <div class="event-details-comments-container">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> {{comments.length}} comments</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list *ngIf="comments.length > 0">
        <mat-list-item *ngFor="let comment of comments" style="height: fit-content;">
          <img matListAvatar [src]="commentsUsersImages.get(comment.user.id)"/>
          <h3 matLine>{{comment.user.firstName + ' ' + comment.user.lastName}}</h3>
          <p matLine>
            <span style="color: grey">{{comment.createdAt | date: 'medium'}}</span>
            <br>
            <span style="color: dimgrey; white-space: normal; word-break: break-word;">{{comment.comment}}</span>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>

  <div>
    <button mat-raised-button type="button" color="primary" (click)="onNewCommentClicked()" style="min-width: 150px;">
      New comment
    </button>
  </div>

</div>
