<div *ngIf="isDataLoaded" style="margin: 10px 65px;">

  <div class="event_details_div">
    <mat-card class="event_details_mat_card">

      <mat-card-header *ngIf="event">
        <div *ngIf="eventUserImage" class="event_details_avatar_mat_card" mat-card-avatar>
          <img [src]="eventUserImage" class="event_details_avatar_image">
        </div>
        <mat-card-title>
          {{event.user.firstName + ' ' + event.user.lastName}}
        </mat-card-title>
        <mat-card-subtitle>
          {{event.createdAt | date: 'medium'}}
        </mat-card-subtitle>
      </mat-card-header>

      <div style="display: flex; justify-content: center;">
        <img *ngIf="eventImage" [src]="eventImage" class="event_details_event_image">
      </div>

      <div *ngIf="event" class="event_details_footer_div">
        <mat-card-header class="event_details_footer_info_div">
          <div *ngIf="event" class="event_details_type_mat_card" mat-card-avatar
               [ngStyle]="{'background-color': event.severity.color}">
            <img [src]="getImage(event.type.imagePath)" class="event_details_type_image">
          </div>
          <mat-card-title>
            {{event.type.label}}
          </mat-card-title>
          <mat-card-subtitle>
            <div >
              {{event.severity.label}}
            </div>
            <div>
              <div class="event_details_status_circle" [ngStyle]="{'background-color': event.status.color}"></div>
              {{event.status.label}}: {{event.status.description}}
            </div>
            <div>
              {{eventAddress}}
            </div>
            <div class="event_details_description_div">
              {{event.description}}
            </div>
          </mat-card-subtitle>
        </mat-card-header>

        <button mat-icon-button class="event_details_map_button" (click)="onMapViewClicked()">
          <mat-icon>map</mat-icon>
        </button>
      </div>

    </mat-card>
  </div>

  <div>
    <div class="event_details_comments_div">
      <button mat-raised-button type="button" color="primary" (click)="onNewCommentClicked()" style="min-width: 150px">
        New comment
      </button>

      <mat-card class="event_details_comments_number_mat_card">
        <p>{{comments.length}} comments</p>
      </mat-card>
    </div>

    <div>
      <p *ngIf="comments.length === 0" style="margin-top: 10px">No comments posted yet</p>
    </div>

    <div>
      <mat-list *ngIf="comments.length > 0">
        <mat-list-item *ngFor="let comment of comments" style="height: fit-content;">
          <img matListAvatar [src]="commentsUsersImages.get(comment.user.id)"/>
          <h3 matLine>{{comment.user.firstName + ' ' + comment.user.lastName}}</h3>
          <p matLine>
            <span style="color: grey">{{comment.createdAt | date: 'medium'}}</span>
            <br>
            <span style="color: dimgrey; white-space: normal;">{{comment.comment}}</span>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</div>
