<div class="new_event_page_div">
  <mat-card class="new_event_image_mat_card">
    <div class="new_event_image_div">
      <img *ngIf="eventImage" [src]="eventImage" class="new_event_image">
      <button type="button" color="primary" mat-raised-button (click)="fileInput.click()"
              class="new_event_image_button">Set image
      </button>
      <input hidden (change)="onImageChanged($event)" #fileInput type="file" accept="image/*">
    </div>
  </mat-card>

  <br>

  <form [formGroup]="newEventForm" (ngSubmit)="onSaveClicked()">
    <mat-form-field appearance="fill">
      <mat-label>Tag</mat-label>
      <mat-select formControlName="tag" required style="top: 0">

        <mat-option *ngFor="let tag of tags" [value]="tag.id">
          <div class="new_event_tag_option_div">
            <img [src]="getImage(tag.imagePath)" class="new_event_tag_option_image">
            {{tag.name}}
          </div>
        </mat-option>

      </mat-select>
      <mat-error *ngIf="newEventForm.get('tag').invalid">{{getTagErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Severity</mat-label>
      <mat-select formControlName="severity" required>

        <mat-option *ngFor="let severity of severities" [value]="severity.id">
          <div class="new_event_severity_option_div">
            <mat-card class="new_event_severity_mat_card"
                      [ngStyle]="{'background-color': '#' + severity.color.toString(16)}"></mat-card>
            {{severity.name}}
          </div>
        </mat-option>

      </mat-select>
      <mat-error *ngIf="newEventForm.get('severity').invalid">{{getSeverityErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field>
      <textarea formControlName="description" matInput placeholder="Add description..." style="min-height: 50px"></textarea>
      <mat-error *ngIf="newEventForm.get('description').invalid">{{getDescriptionErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <button mat-mini-fab color="primary" style="float: right" type="submit">
      <mat-icon>check</mat-icon>
    </button>
  </form>

</div>
