<div class="new_event_page_div">
  <mat-card class="new_event_image_mat_card">
    <div class="new_event_image_div">
      <img *ngIf="eventImage" [src]="eventImage" class="new_event_image">
      <button type="button" color="primary" mat-raised-button (click)="fileInput.click()"
              class="new_event_image_button">Set image
      </button>
      <input hidden (change)="onImageChanged($event)" #fileInput type="file" accept="image/*">
    </div>
  </mat-card>

  <br>

  <form [formGroup]="newEventForm" (ngSubmit)="onSaveClicked()">
    <mat-form-field appearance="fill">
      <mat-label>Tag</mat-label>
      <mat-select formControlName="type" required style="top: 0">

        <mat-option *ngFor="let type of types" [value]="type.id">
          <div class="new_event_type_option_div">
            <img [src]="getImage(type.imagePath)" class="new_event_type_option_image">
            {{type.label}}
          </div>
        </mat-option>

      </mat-select>
      <mat-error *ngIf="newEventForm.get('type').invalid">{{getTypeErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Severity</mat-label>
      <mat-select formControlName="severity" required>

        <mat-option *ngFor="let severity of severities" [value]="severity.id">
          <div class="new_event_severity_option_div">
            <mat-card class="new_event_severity_mat_card"
                      [ngStyle]="{'background-color': '#' + severity.color.toString(16)}"></mat-card>
            {{severity.label}}
          </div>
        </mat-option>

      </mat-select>
      <mat-error *ngIf="newEventForm.get('severity').invalid">{{getSeverityErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>

        <mat-option *ngFor="let status of statuses" [value]="status.id">
          <div class="new_event_status_option_div">
            <mat-card class="new_event_status_mat_card"
                      [ngStyle]="{'background-color': status.color}"></mat-card>
            {{status.label}}
          </div>
        </mat-option>

      </mat-select>
      <mat-error *ngIf="newEventForm.get('status').invalid">{{getStatusErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field>
      <textarea formControlName="description" matInput placeholder="Add description..." style="min-height: 50px"></textarea>
      <mat-error *ngIf="newEventForm.get('description').invalid">{{getDescriptionErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <button mat-mini-fab color="primary" style="float: right" type="submit">
      <mat-icon>check</mat-icon>
    </button>
  </form>

</div>
