.event-report-image-mat-card {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  height: 280px;
  margin-bottom: 10px;
}

.event-report-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.event-report-image-div {
  width: 100%;
  height: 280px;
  background-color: gainsboro;
}

.event-report-image-button {
  position: absolute;
  min-width: 150px;
  bottom: 25px;
  right: 25px;
}

.event-report-severity-option-div {
  display: flex;
  vertical-align: center;
  padding: 5px 0;
}

.event-report-severity-mat-card {
  border-radius: 24px;
  width: 6px;
  height: 6px;
  margin-right: 20px;
}

.event-report-type-option-div {
  display: flex;
  vertical-align: center;
  padding: 5px 0;
}

.event-report-type-option-image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.event-report-status-option-div {
  display: flex;
  vertical-align: center;
  padding: 5px 0;
}

.event-report-status-mat-card {
  border-radius: 24px;
  width: 6px;
  height: 6px;
  margin-right: 20px;
}

mat-form-field {
  width: 100%;
  min-width: 200px;
}

.mat-option:after {
  content: '';
  width: 90%;
  border-bottom: solid 1px lightgrey;
  position: absolute;
  bottom: 1px;
}
