.mat-form-field {
  min-width: 250px;
  margin-right: 20px;
}

.profile-page-div {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 65px;
}

.profile-save-button {
  min-width: 150px;
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translate(-50%, 0);
}

.profile-image {
  border-radius: 180px;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}

.profile-main-div {
  display: flex;
  align-items: center;
}

.profile-category-div {
  margin: 0 15px;
}

@media all and (max-width: 1200px) {
  .profile-main-div {
    display: block;
  }
  .profile-save-button {
    position: relative;
    bottom: unset;
    left: unset;
    transform: unset;
  }
}
