<div class="profile-page-div">
  <form [formGroup]="profileForm" (ngSubmit)="onSaveClicked()">

    <div class="profile-main-div">
      <div class="profile-category-div">
        <mat-card class="profile-image">
          <img *ngIf="profileImage" [src]="profileImage" class="profile-image">
        </mat-card>

        <br>

        <div style="text-align: center">
          <button type="button" color="primary" mat-raised-button (click)="fileInput.click()" style="min-width: 150px">
            Change image
          </button>
          <input hidden (change)="onImageChanged($event)" #fileInput type="file" accept="image/*">
        </div>
      </div>

      <div class="profile-category-div">
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-error *ngIf="profileForm.get('firstName').invalid">{{getFirstNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-error *ngIf="profileForm.get('lastName').invalid">{{getLastNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Date of birth</mat-label>
          <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phoneNumber">
          <mat-error *ngIf="profileForm.get('phoneNumber').invalid">{{getPhoneNumberErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="profile-category-div">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput disabled value="{{connectedUser.email}}">
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput disabled value="********">
        </mat-form-field>

        <br>

        <mat-form-field *ngIf="connectedUser.joinedAt">
          <mat-label>Join date</mat-label>
          <input matInput disabled value="{{connectedUser.joinedAt | date: 'dd/MM/yyyy'}}">
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Reports number</mat-label>
          <input matInput disabled value="{{connectedUser.reportsNumber}}">
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Roles</mat-label>
          <input matInput disabled value="{{getRoles()}}">
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button type="submit" color="primary" class="profile-save-button">Save</button>

  </form>
</div>

