.list_parent_div {
  margin: 65px 100px;
}

.list_mat_card_thumbnail {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list_thumbnail_image {
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.list_clickable_row {
  cursor: pointer;
}

.list_clickable_row:hover {
  background-color: #f0ecf9C0;
}

.list_mat_card {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  float: left;
  width: fit-content;
  background-color: #f0ecf9C0;
}

table {
  width: 100%;
}

mat-paginator {
  width: 100%;
}
