<app-events-map
  [events]="events"
  [filterRadius]="filterOptions?.radius"
  [ngStyle]="{'visibility': homePage === 'map' ? 'visible' : 'hidden'}">
</app-events-map>
<app-events-list
  [events]="events"
  [length]="totalEvents"
  [index]="pageIndex"
  (pageEventEmitter)="onPageChanged($event)"
  [ngStyle]="{'visibility': homePage === 'list' ? 'visible' : 'collapse'}">
</app-events-list>

<div class="home_top_info_div">
  <mat-card>
    <p>{{totalContentDisplayed}} events displayed</p>
  </mat-card>

  <mat-card>
    <p>{{totalEvents}} total events</p>
  </mat-card>

  <mat-card>
    <p>Page {{totalPages > 0 ? pageIndex + 1 : 0}}/{{totalPages}}</p>
  </mat-card>
</div>

<div class="home_bottom_bar_div">
  <mat-card class="home_bottom_bar_mat_card" style="margin-bottom: 10px"
            [ngStyle]="{'visibility': homePage === 'map' ? 'visible' : 'hidden'}">

    <button mat-icon-button class="home_main_bar_button" (click)="onPreviousClicked()">
      <mat-icon>chevron_left</mat-icon>
      Previous
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button class="home_main_bar_button" (click)="onLocationClicked()">
      <mat-icon>person_pin_circle</mat-icon>
      Location
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button class="home_main_bar_button" (click)="onNextClicked()">
      Next
      <mat-icon>chevron_right</mat-icon>
    </button>

  </mat-card>

  <mat-card class="home_bottom_bar_mat_card">

    <button mat-icon-button class="home_main_bar_button" (click)="onFilterClicked()">
      <mat-icon>filter_list</mat-icon>
      Filter
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button class="home_main_bar_button" (click)="onPageSwitchClicked()">
      <div style="display: flex; justify-content: center">
        <mat-icon>{{homePage == 'map' ? 'list' : homePage == 'list' ? 'map' : ''}}</mat-icon>
        <p class="home_page_switch_text">{{homePage == 'map' ? 'List' : homePage == 'list' ? 'Map' : ''}}</p>
      </div>
    </button>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button class="home_main_bar_button" (click)="onOrderClicked()">
      <mat-icon>sort</mat-icon>
      Sort
    </button>

  </mat-card>
</div>
