.mat-card {
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  float: left;
  width: fit-content;
  background-color: #f0ecf9C0;
}

.home-top-info-div {
  margin-left: 65px;
  margin-top: 10px;
  position: fixed;
}

.home-map-info-bar-mat-divider {
  margin-left: 10px;
  margin-right: 10px;
}

.home-map-info-bar-text {
  margin: 0;
  padding: 0;
  line-height: 22px;
}

.home-bottom-bar-div {
  position: fixed;
  margin-left: 10px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-switch-text {
  margin: 0 2px;
  line-height: 22px;
}

.home-bottom-bar-mat-card {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.home-main-bar-button {
  width: 125px;
}

